div.horizontal {
    overflow: auto;
    
    max-width: 100%;
 }
 
 #tabla {
    width: 100%;
    white-space: nowrap;
 }

 .th {
    align-items: center;
 }

 .aire {
    background-color:#006039;
    color:white;
 }

 .aire:hover{
     background-color: #cbe2d0;
     color: #006039;
 }

 .musica {
    background-color: #0099d8;
 }

 .musica:hover {
     color: #0099d8;
     background-color: #c8e1f8;
 }

 .imagen {
    background-color: #db3128;
 }

 .imagen:hover {
    color: #db3128;
    background-color: #f8c8b8;
 }

 .habilidades {
    background-color: #dab61e;
 }

 .habilidades:hover {
     color: #dab61e;
     background-color: #f6e7c2;
 }

.formacion {
    background-color: #0c4370;
    color: white;
}

.formacion:hover {
    color: #0c4370;
    background-color: #b2b8ce;
}

.ocio {
    background-color: #ec6d23;
}

.ocio:hover {
    color: #ec6d23;
    background-color: #f08a50;
}


.desconocido {
    color: darkred;
    background-color: darkgray;
}

.desconocido:hover {
    color: darkgray;
    background-color: gray;
}

.certamen {
    color: black;
    background-color: #a7a523;
}

.certamen:hover {
    color: #a7a523;
    background-color: #c7c5be;
}

/* ESTILOS PIE DE PÁGINA */
#myFooter {
	background-color: #373a48;
	color:white;
}

#myFooter .footer-copyright{
	background-color: #383737;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
}

#myFooter .footer-copyright p{
	margin:10px;
	color: #ccc;
}

#myFooter ul{
	list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
	font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
	color:#d2d1d1;
	text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
	text-decoration: none;
	color:white;
}

#myFooter .myCols{
	text-align: center;
}

#myFooter .social-networks{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 38px;
}

#myFooter .social-networks a{
    font-size: 32px;
    margin-right: 5px;
    margin-left: 5px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover{
	text-decoration: none;

}

#myFooter .facebook:hover{
	color:#0077e2;
}

#myFooter .google:hover{
	color:#ef1a1a;
}

#myFooter .twitter:hover{
	color: #00aced;
}

@media screen and (max-width: 767px){
	#myFooter {
		text-align: center;
	}
}